<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--用于消息弹窗
        该css是引用 iconfont.cn 的一些字体图标。官方地址： https://www.iconfont.cn/ -->
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1117508_wxidm5ry7od.css">
    <link rel="icon" th:href="@{/images/favicon.ico }" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/message.css }">
    <script th:src="@{/js/message.js }"></script>

</head>
<body>
<h1 id="error">Error</h1>

<!-- 消息外层容器，因为消息提醒基本上是全局的，所以这里用id，所有的弹出消息都是需要插入到这个容器里边的 -->
<div id="message-container"></div>
</body>
</html>