<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登陆/注册页</title>
  <link rel="stylesheet" th:href="@{/css/sign.css }">

  <div th:insert="~{common :: commonheader}"></div>
</head>

<body>

<div data-th-replace="~{common :: modal-content}"></div>

<!-- login/register container -->
<div class="container">

  <!-- register -->
  <div class="form-container sign-up-container">
    <div class="form" id="signup">
      <h2>注册</h2>
      <label class="warning_words error_nickname"></label>
      <input type="text" name="nickname" id="nickname" onblur="checkNicknameVal(this.value)" placeholder="请输入昵称..." required>
      <label class="warning_words error_email"></label>
      <input type="email" name="email" onblur="checkEmailVal(this.value, false)" placeholder="请输入邮箱地址..." required>
      <label class="warning_words error_pwd"></label>
      <input type="password" name="password" onblur="checkPasswordVal(this.value, false)" placeholder="请输入密码..." required>
      <label class="warning_words error_code"></label>
      <input name="verifyCode" type="text" onblur="checkVerifyCodeVal(this.value, false)" placeholder="请输入验证码..." autocomplete="off" required>
      <!--        时间戳标识符-->
      <input type="hidden" name="identify" class="identify" />
      <span><img class="verifyCode shrink" alt="点击切换验证码" onclick="changeCheckCode(this, false)"></span><br />
      <button class="signUp shrink" onclick="return doSignUp()">注册</button>
    </div>
  </div>

  <!-- login -->
  <div class="form-container sign-in-container">
    <div class="form" id="signin">
      <h2>登陆</h2>
      <label class="warning_words error_email"></label>
      <input type="text" name="email" onblur="checkEmailVal(this.value, true)" placeholder="请输入账号或邮箱..." required>
      <label class="warning_words error_pwd"></label>
      <input type="password" name="password" onblur="checkPasswordVal(this.value, true)" placeholder="请输入密码..." required>
      <label class="warning_words error_code"></label>
      <input name="verifyCode" type="text" onblur="checkVerifyCodeVal(this.value, true)" placeholder="请输入验证码..." autocomplete="off" required>
      <!--        时间戳标识符-->
      <input type="hidden" name="identify" class="identify" />
      <span><img class="verifyCode shrink" alt="点击切换验证码" onclick="changeCheckCode(this, true)"></span><br />
      <a href="#" class="forget-password shrink" onclick="doForgetPasswordBtnListener()">忘记密码？</a><br />
      <button class="signIn shrink" onclick="return doSignIn();">登陆</button>
    </div>
  </div>
  <!-- overlay container -->
  <div class="overlay_container">
    <div class="overlay">
      <!-- overlay left -->
      <div class="overlay_panel overlay_left_container">
        <h3 class="welcome_sentence">欢迎来到 IM 聊天室！</h3>
        <p>已有账号？请输入账号密码登陆吧！</p>
        <button id="sign-in">点击登陆</button>
      </div>
      <!-- overlay right -->
      <div class="overlay_panel overlay_right_container">
        <h3 class="welcome_sentence">欢迎来到 IM 聊天室！</h3>
        <p>请填写好您的相关信息以便与朋友们开始畅快的聊天吧！</p>
        <button id="sign-up">点击注册</button>
      </div>
    </div>
  </div>
</div>
</body>
<div th:insert="~{common :: #commonscripts}"></div>
</html>